@{
    ViewBag.Title = "ScrapOrderDetail";
    Layout = null;
}

@Styles.Render("~/Content/css")
    <form class="layui-form layui-form-pane1" action="" lay-filter="first">
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input type="hidden" name="scrapId">
            </div>
        </div>
        @*<div class="layui-form-item">
            <label class="layui-form-label">夹具类选择</label>
            <div class="layui-input-inline">
                <select name="toolType" lay-filter="type" id="type" lay-verify="" autocomplete="off">
                    <option value="">所有夹具类</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择目标工夹具类</div>
        </div>*@
        <div class="layui-form-item">
            <label class="layui-form-label">夹具类选择</label>
            <div class="layui-input-inline">
                <select id="toolType" name="toolType" class="toolType" lay-filter="toolType">
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择目标工夹具类</div>
        </div>
        @*<div class="layui-form-item">
            <label class="layui-form-label">夹具序列号选择</label>
            <div class="layui-input-inline">
                <select name="seqId" lay-filter="seqId" id="seqId" lay-verify="" autocomplete="off">
                    <option value="">所有夹具序列号</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择目标工夹具</div>
        </div>*@
        <div class="layui-form-item">
            <label class="layui-form-label">夹具序列号选择</label>
            <div class="layui-input-inline">
                <select id="seqId" name="seqId" class="seqId" lay-filter="seqId">
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择目标工夹具</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">寿命计数</label>
            <div class="layui-input-inline">
                <input type="text" name="lifeCount" lay-verify="" placeholder="" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写寿命计数</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">问题描述</label>
            <div class="layui-input-inline">
                <input type="text" name="description" lay-verify="" placeholder="" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请对问题进行描述</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="sub">立即提交</button>
                <button onclick="parent.layer.closeAll()" class="layui-btn layui-btn-primary">关闭</button>
            </div>
        </div>
    </form>
@Scripts.Render("~/bundles/layui")
<script type="text/javascript">
    layui.use(["form"], function () {
        var form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate,
            $ = layui.$;
        form.render();


        form.on("submit(sub)", function (obj) {
            var scrap = obj.field;
            console.log(scrap);
            layer.load(5, { shade: [0.5, "#5588AA"] });
            $.ajax({
                type: "POST",
                data: {
                    scrap: scrap
                },
                url: "@Url.Action("SubScrapOrderDetail","ToolManage")",
                success: function (result) {
                    if (result.Success) {
                        layer.close(layer.index);
                        window.parent.location.reload();
                        parent.layer.msg(result.Message, { icon: 1 });
                    }
                    else {
                        parent.layer.msg(result.Message, { icon: 5 });
                    }
                }
            })
        });
        @*//用来记录当前选择夹具类的
        var toolType;
        form.on('select(type)', function (data) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SelectToolTypeCode","ToolManage")",//从数据库查询现有的夹具类
                dataType:"json",
                success: function (result) {
                    //console.log(result.data);
                    //第一个是索引，第二个是每项
                    $.each(result.data, function (index, item) {
                        //console.log(item);
                        $('#type').append("<option value= '" + item.typeId + "'>" + item.code + "</option>");
                        //$('#type').append(new Option(item.code));//往下拉菜单里添加元素
                    })
                    form.render("select");//菜单渲染
                }
            })
            toolType = data.value;
            //得到id
            console.log(data.value);

        });

        form.on('select(seqId)', function (data) {
            $.ajax({
                type: "GET",
                //data: {
                //    toolType: toolType
                //},
                url: "@Url.Action("SelectToolSeqId","ToolManage")?toolType=" + toolType,//从数据库查询现有的夹具类
                dataType:"json",
                success: function (result) {
                    //console.log(result.data);
                    //第一个是索引，第二个是每项
                    $.each(result.data, function (index, item) {
                        //console.log(item);
                        $('#seqId').append("<option value= '" + item.toolId + "'>" + item.seqId + "</option>");
                    })
                    form.render("select");//菜单渲染
                }
            })

            //得到id
            console.log(data.value);

        });*@
                layer.ready(function (data) {
        //新加载列表
            $.ajax({
                type: "GET",
                async: false,//同步进行
                url: "@Url.Action("SelectToolTypeCodeList","ToolManage")",
                success: function (data) {

                    toolTypeList = data;
                
                    strHtml = ``
                    for (let i = 0; i < toolTypeList.length; i++) {
                        strHtml += `<option value="${toolTypeList[i].typeId}">${toolTypeList[i].code}</option>`
                    }
                    $("#toolType").append(strHtml);
                    form.render();
                    //加载对应部门的用户
                }
            })

            var time = 0;
            var id = null;
            form.on('select(toolType)', function (data) {
                $("#seqId").empty();
                form.render();
                console.log("***************************************");
                console.log(data)
                id = data.value;
                time = time + 1;
            $.ajax({
                type: "GET",
                //data: {
                //    toolType: toolType
                //},
                url: "@Url.Action("SelectToolSeqIdList","ToolManage")?toolType=" + data.value,//从数据库查询现有的夹具类
                dataType:"json",
                success: function (data) {

                    seqList = data;
                
                    strHtml = ``
                    for (let i = 0; i < seqList.length; i++) {
                        strHtml += `<option value="${seqList[i].toolId}">${seqList[i].seqId}</option>`
                    }
                    $("#seqId").append(strHtml);
                    form.render();
                    //加载对应部门的用户
                }
            })

        });

        });



        var scrap = '@Html.Raw(ViewBag.scrap)';
        conlose.log(scrap);
        var jsonScrap = JSON.parse(scrap);
        console.log(jsonScrap);


        form.val("first", jsonScrap);

    })
</script>




